@using DwellerApplication.Areas.Household.ViewModels;
@{
}
<div class="top">
    <div class="nav-icon-holder-top">
        <a asp-area="Household" asp-controller="Home" asp-action="Index">
            <img src="~/Images/Icons/list.svg" class="nav-icons" />
        </a>

    </div>
</div>

<div>
    <div>
        <h1 class="page-titles" style="color:#E13C5C">
            Household
        </h1>
        <p class="content-text">
            Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan.Ipsem lorem dolores hejsan.Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan. Ipsem lorem dolores hejsan.
        </p>
    </div>
</div>

<div class="bottom">
    <div class="nav-icon-holder-bottom">
        <a asp-area="" asp-controller="" asp-action="">
            <img src="~/Images/Icons/houses-fill.svg" class="nav-icons" />
        </a>
    </div>
</div>